$spacing: 0.25rem;

$breakpoints-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$breakpoints: (
  sm: "screen and (max-width: #{map-get($breakpoints-widths, sm)})",
  md: "screen and (min-width: #{map-get($breakpoints-widths, sm)}) and (max-width: #{map-get($breakpoints-widths, md)})",
  lg: "screen and (min-width: #{map-get($breakpoints-widths, md)}) and (max-width: #{map-get($breakpoints-widths, lg)})",
  xl: "screen and (min-width: #{map-get($breakpoints-widths, xl)})"
) !default;

$sizes: 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 !default;
$spacings: 0 .25rem .5rem 1rem 2rem 4rem 8rem 16rem !default;
$line-heights: 1 1.25 1.5 2 !default;

$font-family-serif: serif;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$font-family-monospace: monospace;

$font-sizes: 3rem 2.25rem 1.5rem 1.25rem 1rem .875rem .75rem !default;
$font-weights: 100 200 300 400 500 600 700 800 900 !default;

$border-radiuses: 0 .125rem .25rem .5rem 1rem !default;
$border-widths: 1px 2px 3px 4px 5px 6px !default;

$position-modifiers: (
  l: "left",
  r: "right",
  t: "top",
  b: "bottom"
) !default;
